<div class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a class="" href="@Url.Action("Index","GVBaoCaoHuHong")">Quản lý cơ sở vật chất</a></li>
        <li><a class="" href="@Url.Action("Index","QLTaiNguyen")">Quản lý tài nguyên</a></li>
        <li><a class="" href="@Url.Action("Index","QLHoatDong")">Quản lý Tin tức hoạt động</a></li>
        <li><a class="" href="@Url.Action("Index","QLThongBao")">Quản lý thông báo</a></li>
    </ul>
</div>